<header class="px-4 pb-20 sm:px-6 lg:px-8 pt-10 ml-8">
  <a class="text-6xl text-accent font-black hover:underline" href="/">
    <%= assigns[:page_title] || "med?" %>
  </a>
</header>
<main class="mb-20 min-h-screen">
  <div class="mx-auto max-w-2xl px-5">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
